
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0; 
  } 
/* remember to define focus styles! */ 
:focus { 
  outline: 0; 
  } 
body { 
  background: white; 
  line-height: 1; 
  color: black; 
  } 
ol, ul { 
  list-style: none; 
  } 
/* tables still need cellspacing="0" in the markup */ 
table { 
  border-collapse: separate; 
  border-spacing: 0; 
  } 
caption, th, td { 
  font-weight: normal; 
  text-align: left; 
  } 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after { 
  content: ""; 
  } 
blockquote, q { 
  quotes: "" ""; 
  } 

@font-face {
    font-family: "Din Text Compressed Pro";
    src: url(../font/pfdintextcomppro-regular.ttf);
}
@font-face {
    font-family: "DINPro"; 
    src: url(../font/DINPro-Regular_13937.ttf);
}
html {
    font-size: 100%;
}
body {
    margin: 0;
}
.login-page {
    background: #FFB400;
}
.login-page .content-wrapper {
    top: 120px;
    position: absolute;
    width: 900px;
    left: 10%;
}
.login-page .caption {
    color: #603814;
    font-size: 44px;
    font-weight: bold;
    line-height: 53px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-family: "Din Text Compressed Pro", sans-serif;
}
.login-page .caption .white {
    color: #F5F5F5;
}
.login-page .content {
    margin-top: 58px;
}
.login-form-header {
    color: #603814;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 13px;
    letter-spacing: 0.2px;
    font-family: "Din Text Compressed Pro", sans-serif;
}
.simple-input {
    border: #EEB422;
    border-radius: 4px;
    font-size: 16.5px;
    letter-spacing: 0.5px;
    padding-left: 11px;
    font-family: "Din Text Compressed Pro", sans-serif;
    display: inline-block;
    vertical-align: top;
}
.login-form .simple-input {
    width: 232px;
    height: 30px;
    margin-bottom: 7px;

}
.send-button {
    transition: background-color 0.5s ease;
    color: #F4F1eA;
    background: #603814;
    border: #603814;
    border-radius: 4px;
    font-size: 16.5px; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;   
    padding: 0;
    font-family: "Din Text Compressed Pro", sans-serif;
}
.send-button:hover {
    color: #fdfcfb;
    background: #361f0b;  
}
.login-form .send-button { 
    width: 70px;
    height: 32px;
    margin-left: 8.5px;
    padding-top: 4px;
}

body > header{
    background: #FFB400;
}


.dashboard-table {
    border-collapse: collapse;
    font-size: 16px;
    margin-left: -10px;
    width: 1140px;
}
.dashboard-table td {
    border-bottom: 1px solid #FFF5EE;
    padding: 6px;
    padding-left: 10px;
    font-family: "DINPro", sans-serif;
    letter-spacing: 0.25px;
}
.dashboard-table tr.even{
    background: #fbfbfb;
}
.dashboard-table tbody tr:hover{
    color:#603814;
    background: #fcfcfc;
    transition: background-color 0.5s ease;
}
.dashboard-table tbody tr.even:hover{
    color:#603814;
    background: #fff;
    transition: background-color 0.5s ease;
}
.dashboard-table th {
    border-bottom: 1px solid #FFF5EE;
    padding-bottom: 23px;
    padding-top: 12px;
    padding-left: 10px;
    text-align: left;
    color: #AAA;
    font-family: "DINPro", sans-serif;
    font-weight: normal;
}
.dashboard-table .col1 {
    width: 494px;
}
.dashboard-table .col2 {
    width: 195px;
}
.dashboard-table .col3 {
    width: 294px;
}
.dashboard-control-panel {
    background: #FFB400;   
    margin:0 auto;
    width:1140px;
    padding-top: 21px;
}
.dashboard-control-panel .simple-input {
    width: 364px;
    height: 38px;
    padding-left: 14px;
    font-size: 18px;
    margin-right: 16px;
    margin-bottom: 19px;
    padding-top: 2px;
}
.simple-select {
    color: #AAA;
    font-size: 18px;
    background: transparent;
    font-family: "Din Text Compressed Pro", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
.dashboard-control-panel .simple-select {
    width: 380px;
    height: 40px;
    padding-left: 12px;
}
.dashboard-control-panel .simple-select-wrapper {
    background: url("../image/arrow-down.jpg") 100% 3px no-repeat #fff;
    display: inline-block;
    padding: 0;
    margin-right: 16px;
    margin-bottom: 19px;
    border-radius: 4px; 
    padding-top: 2px;  
}
.simple-input-small {
    border: #EEB422;
    border-radius: 4px;
    font-size: 16.5px;
    letter-spacing: 0.5px;
    padding-left: 16px;
    font-family: "Din Text Compressed Pro", sans-serif;
}
.dashboard-control-panel .simple-input-small {
    width: 165px;
    height: 38px;
    padding-left: 15px;
    margin-bottom: 19px;
    margin-right: 16px;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}
.dashboard-control-panel .send-button {
    width: 130px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 19px;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}
.dashboard {
    padding: 0;
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.dashboard .caption {
    font-family: "Din Text Compressed Pro", sans-serif;
    text-transform: uppercase;
    color: #603814;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 63px;
}
th{
    padding-left: 10px;
}
th:nth-child(1) {
    min-width:500px;
}
th:nth-child(2) {
    width:100px;
}
th:nth-child(3) {
    width:300px;
}
.user{
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: #f7f7f7;
}
.user div{
    width:1140px;
    margin: 0 auto;
    padding-top: 25px;
    position: relative;
}
.user .name {
    font-family: "Din Text Compressed Pro", sans-serif;
    text-transform: uppercase;
    color: #603814;
    position: absolute;
    left: 0;
}
.user a{
    transition: background-color 0.5s ease;
    color: #F4F1eA;
    background: #603814;
    border: #603814;
    border-radius: 4px;
    font-size: 16.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
    font-family: "Din Text Compressed Pro", sans-serif;
    position: absolute;
    right: 10px;
    display: block;
    width: 100px;
    text-align: center;
    height: 15px;
    padding-top: 6px;
    padding-bottom: 4px;
    margin-top: -5px;
    text-decoration: none;
}
.user a:hover {
    color: #361f0b;
    background: #FFB400;  
}



#followingBallsG{
position:fixed;
width:256px;
height:20px;
top:44%; 
left:44%;
}

.followingBallsG{
background-color:#000000;
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
-moz-border-radius:10px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-ms-border-radius:10px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-o-border-radius:10px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
border-radius:10px;
animation-name:bounce_followingBallsG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:normal;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.13s;
-webkit-animation-delay:0.13s;
-ms-animation-delay:0.13s;
-o-animation-delay:0.13s;
animation-delay:0.13s;
}

#followingBallsG_3{
-moz-animation-delay:0.26s;
-webkit-animation-delay:0.26s;
-ms-animation-delay:0.26s;
-o-animation-delay:0.26s;
animation-delay:0.26s;
}

#followingBallsG_4{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#000000;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#000000;
}

}
#loading{
    position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.4); top: 0; display: none;
}