{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ДЛ.Тайм | Дашборд</title>
  <link rel="stylesheet" href="{% static "style/main.css" %}">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{% static "sweetalert.min.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "sweetalert.css" %}">
</head>
<body>
  <header>
    <form class="dashboard-control-panel" onsubmit="return false;">
      <input class="simple-input" type="text" name="task" placeholder="Задача или что делалось">
      <div class="simple-select-wrapper">
        <select class="simple-select" name="project">
          {% for proj in projects %}
              <option value="{{proj.id}}">{{proj.name}}</option>
          {% endfor %}
        </select>
      </div>
      <input class="simple-input-small" type="text" id="mins" placeholder="Например, 2ч10м">
      <input type="hidden" name="minutes" id="hm" >
      <input class="send-button" type="submit" value="Добавить">
    </form>
  </header>
  <section class="dashboard">
    <header class="caption">
      <h2>Список ранее добавленных работ</h2>
    </header>
    <div>
      <table class="dashboard-table history">
        <thead>
          <tr>
            <th>Задача или что делалось</th>
            <th>Время</th>
            <th>Проект</th>
            <th>Дата добавления</th>
          </tr>
        </thead>
        <tbody>
          {% for hist in history %}
              <tr>
                  <td>{{hist}}</td>
                  <td>{{hist.opa}}</td>
                  <td>{{hist.project}}</td>
                  <td>{{hist.date}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  <div class="user">
    <div>
      <span class="name">{{user.name}}</span>
      <a href="#">Выйти</a>
    </div>
  </div>
  <div id="loading">
<div id="followingBallsG">
<div id="followingBallsG_1" class="followingBallsG">
</div>
<div id="followingBallsG_2" class="followingBallsG">
</div>
<div id="followingBallsG_3" class="followingBallsG">
</div>
<div id="followingBallsG_4" class="followingBallsG">
</div>
</div></div>
  <script type="text/javascript">
  $(function () {
      $('.send-button').click(function () {
          var h = $('#mins').val().split('ч');
          if(h.length==1){
              var m = h[0].split('м');
              var vale = parseInt(m[0]);
          }
          else{
              var m = h[1].split('м'); 
              if(m.length==1){
                  var vale = parseInt(h[0])*60;
              }
              else{
                  var vale = parseInt(h[0])*60+parseInt(m[0]);
              }
              
          }
          if (vale<=0){
              swal("Ошибка данных", "Введите корректные данные", "error");
          }
          else{
              $('#hm').val(vale);
              $.ajax({
                  url: '/',
                  method: 'post',
                  data: $(this).closest('form').serialize(),
                  beforeSend: function () {

                  },
                  success: function (data) {
                      if(data[0]=='0'){
                          swal("Ошибка", data.substring(1), "error");
                      }else{
                      $(".history").html("").append('<table class="dashboard-table history"><thead><tr><th>Задача или что делалось</th><th>Время</th><th>Проект</th><th>Дата добавления</th></tr></thead><tbody>'+data+'</tbody></table>');
                      a();
                      $('.simple-input').val('');
                      $('.simple-input-small').val('');
                      }
                  }
              });
          }
      });
      function a(){
        var m = ''; 
        var text = 'odd';
        $('tbody tr').each(function(data){
            data = $(this).children()[3].innerHTML;
            if(m == ''){
                m = data;
                $(this).addClass(text);
            }else{
                if(data == m){
                    $(this).addClass(text);
                } else{
                    if(text == 'odd'){
                        text = 'even';
                    }else{
                        text = 'odd';
                    }
                    $(this).addClass(text);
                    m = data;
                }
            }
        });
      };
      a();

  });
  $('.user a').click(function(){
    swal({   title: "Вы уверены?",   text: "Вы собираетесь выйти.",   type: "warning",   showCancelButton: true,   confirmButtonColor: "#FFB400",   confirmButtonText: "Выйти", cancelButtonText: "Отмена",    closeOnConfirm: false }, function(){   window.location.href="/logout/" });
  });
  $(document).ajaxStart(function() {
     $( "#loading" ).fadeIn(500);
  });
  $(document).ajaxStop(function() {
     $( "#loading" ).fadeOut(500);
  });
  </script>
</body>
</html>