{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ДЛ.Тайм | Вход</title>
  <link rel="stylesheet" href="{% static "style/main.css" %}">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{% static "sweetalert.min.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "sweetalert.css" %}">
</head>
<body class="login-page">
  <section class="content-wrapper">
    <header class="caption">
        Добро пожаловать<br>
        в систему контроля<br>
        рабочего времени<br> 
        компании <span class="white">директлайн</span> 
    </header>
    <section class="content">
      <form class="login-form" action="/login/" method="POST">
        <h4 class="login-form-header">Ваш логин и пароль в мегаплане</h4>
        <div>
          <input type="text" name="login" class="simple-input" placeholder="Логин">
        </div>
        <div>
          <input type="password" name="password" class="simple-input" placeholder="Пароль">
          <input type="submit" class="send-button" value="Войти">
        </div>
      </form>    
    </section>
  </section>
  <script type="text/javascript">
  $(function () {
    {% if message %}
    swal("Ошибка", "{{message}}", "error");
    {% endif %}
  });
  </script>
</body>
</html>